*{
    padding-right: 0 !important ;
}

.global{
    display: flex;
    flex-direction: column;

}


/* header */

.logo{
    width:100px;
    height: auto;
}


.container-position{
    flex-direction:row;/*cambia el izquierda a derecha de los hijos de contenedor para que sean de arriba a abajo*/
    display: flex;/*convierte el contenedor en un contenedorr flex: ahora se pueden usar propiedades del felxbox */
}


.navbar-color{
    background-color: rgb(0, 0, 0) !important;
}

.dropdown-item{
    color: antiquewhite;
}

.down{
    background-color: rgb(0, 0,0);       
}


.nav-link{
    color: antiquewhite !important;

}

.dropdown-menu{
    background-color: #000;
}

/* main */



.index{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura del contenedor al 100% de la vista */
    width: 100; /* Abarca todo el ancho del body */
}

.who{
    display: flex;


}

.box {
    flex: 1;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    border-radius: 8px; /* Opcional: bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra sutil */
    text-align: center;
    background-color: rgba(0, 0,0,0.85); /* Opcional: color de fondo para el formulario */
    color: antiquewhite;
    width: 100%;
}


.color{
    background-image: url('/img/CAMION\ FONDO2.jpeg');
    background-size: cover;
    background-attachment: fixed;

}

.idc-box{
    display: flex;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    border-radius: 8px; /* Opcional: bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra sutil */
    text-align: center;
    background-color: rgba(0, 0,0,0.8); /* Opcional: color de fondo para el formulario */
    color: antiquewhite;
}

.idc-lista{
    padding: 25px !important;
}



/* footer */

.contacto{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-light{
    overflow-wrap: break-word;  
    
}

.text{
    color: rgb(0, 0, 0);
    flex-direction: column;
    display: flex;
}

.Facebook{
    width:60px;
    height:60px;
}

.Instagram{
    width:50px;
    height:50px;
}

.Whatsapp{
    width:50px;
    height:50px;
}

.Master{
    width: 60px;
    height: 50px;
}

.Visa{
    width: 60px;
    height: 50px;
}



.down{
    background-color: rgb(0, 0,0);       
}



.contacto{
    color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.pay{
    color: antiquewhite;
    display: flex;
    justify-content: end;
}

.p{
    color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.mpay{
    color: antiquewhite;
    display: flex;
    justify-content: end;
}

p{  
    color: antiquewhite;
}



